@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

/*Scroll*/
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #b1b1b1;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:active {
    background-color: #525252;
}

/*Root*/
:root {
	--primary-color: #EA0107;
	--primary-white-color: #FAFAFA;
	--primary-white-full-color: #FFFFFF;
	--contraste-light-color: #E0E0E0;
	--dark-light-color: #444444;
	--box-shadow-standar: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
	--border-small-radius: 3px;
	--border-medium-radius: 10px;
	--border-medium-most-radius: 15px;
	--border-big-radius: 20px;
	--border-bigger-radius: 30px;
	--border-most-radius: 40px;
	--border-full-radius: 100%;
	--transition-standar: all ease 0.25s;
}

.content {
	max-width: 90%;
	margin: auto;
}

/*Alineación*/
.align_text_center {
	text-align: center;
}

.grid {
	display: grid;
}

	.grid.x3 {
		grid-template-columns: repeat(3, 1fr);
	}
	
	.grid.x5 {
		grid-template-columns: repeat(5, 1fr);
	}

/*Textos*/
h1 {
	font-size: 60px;
	line-height: 70px;
}

h2 {
	font-size: 40px;
	line-height: 50px;
}

h3 {
	font-size: 20px;
	line-height: 30px;
}

h4 {
	font-size: 10px;
	line-height: 20px;
}

h1, h2, h3, h4 {
	font-weight: 700;
	margin: 0px;
}

p {
	font-size: 14pt;
	line-height: 16pt;
}

/*Header*/
header {
	width: 100%;
	height: 90px;
	line-height: 90px;
	color: var(--primary-white-color);
	background-color: var(--primary-color);
}

	header .left {
		float: left;
	}

		header .left img {
			display: block;
			height: 60px;
			margin-top: 15px;
		}

	header .right {
		float: right;
	}

		header .right nav {
			display: block;
			height: 90px;
			line-height: 90px;
		}

		header .right nav a {
			text-decoration: none;
			color: inherit;
			margin: 0px 2px;
			padding: 5px 10px;
			border-radius: var(--border-small-radius);
			transition: var(--transition-standar);
		}

			header .right nav a:first-child {
				margin-left: 0px;
			}

			header .right nav a:last-child {
				margin-right: 0px;
			}

			header .right nav a:hover {
				color: var(--primary-color);
				background-color: var(--primary-white-color);
				box-shadow: var(--box-shadow-standar);
			}

/*Secciones*/
section {
	background-color: var(--primary-white-full-color);
	padding: 40px 0px;
}

	.big_banner {
		height: calc(100vh - 90px);
	}

		.big_banner .content_img {
			width: 95%;
			height: 100%;
			border-top-right-radius: var(--border-bigger-radius);
			border-bottom-right-radius: var(--border-bigger-radius);
			box-shadow: var(--box-shadow-standar);

			background-image: url(../img/banner_01.jpg);
			background-attachment: center center;
			background-size: cover;
		}

			.big_banner .content_img .content_info_banner {
				display: block;
				padding: 40px 0px;
				height: 100%;
				
				background: rgba(255, 255, 255, 0.75);
				background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,0.32) 64%, rgba(255,255,255,0) 73%);
				background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,0.32) 64%, rgba(255,255,255,0) 73%);
				background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,0.32) 64%, rgba(255,255,255,0) 73%);
				background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,0.32) 64%, rgba(255,255,255,0) 73%);
				background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,0.32) 64%, rgba(255,255,255,0) 73%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
			}

			.big_banner .content_img .content_info_banner .content .title_banner, .big_banner .content_img .content_info_banner .content .info_banner {
				width: 50%;
			}

/*Colores*/
.primary {
	color: var(--primary-white-color);
	background-color: var(--primary-color);
}

.red {
	color: red;
}

.green{
	color: green;
}

.blue{
	color: blue;
}

.yellow{
	color: yellow;
}

/*Botones*/
.button {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0px 15px;
	border-radius: var(--border-big-radius);
	transition: var(--transition-standar);
	font-weight: 700;
}

	.button a {
		display: block;
		height: 40px;
		text-decoration: none;
		color: inherit;
		text-align: center;
	}

		.button a .btn_align {
			display: flex;
			height: 100%;
		}

			.button a .btn_align i {
				display: block;
				margin-top: 5px;
				margin-left: 10px;
				line-height: 30px;
				height: 30px;
				width: 30px;
				color: var(--primary-color);
				border-radius: 15px;
				background-color: var(--primary-white-color);
			}

	.button:hover {
		box-shadow: var(--box-shadow-standar);
	}


	/*Contendor del 100% peliculas*/
	.peliculas_cuadradas{
		display: block;
		width: 100%;
		margin-top: 60px;
	}

		.peliculas_cuadradas .alinear_peliculas{
			display: flex;
			width: 100%;
			align-items: center;
			justify-content: space-between;
		}

			.peliculas_cuadradas .alinear_peliculas .peliculas{
				display: block;
				flex-basis: 22%;
				overflow: hidden;
				border-radius: var(--border-big-radius);
				box-shadow: var(--box-shadow-standar);
			}

				.peliculas_cuadradas .alinear_peliculas .peliculas img{
					display: block;
					width: 100%;
				}

					.peliculas_cuadradas .alinear_peliculas .peliculas .footer_card{
						text-align: center;
						font-weight: 700;
						padding: 10px 0px;
					}

/*Inputs*/
.box_input {
	display: block;
	width: 100%;
	background-color: var(--primary-white-color);
	box-sizing: border-box;
	height: 50px;
	padding: 5px; 
	border-radius: var(--border-medium-radius);
}

	.box_input .aling_box_input {
		display: inline-flex;
		width: 100%;
		align-items: center;
		justify-content: center;
	}

		.box_input input {
			background-color: transparent;
			display: flex;
			width: 80%;
			height: 40px;
			border-radius: 10px;
			outline: none;
			border: none;
			padding: 0px 10px 0px 10px;
		}

		.box_input span {
			display: flex;
			width: 20%;
			background-color: var(--primary-color);
			height: 40px;
			line-height: 40px;
			text-align: center;
			border-radius: var(--border-medium-radius);
			cursor: pointer;
			user-select: none;
			transition: var(--transition-standar);
		}

			.box_input span i {
				display: block;
				width: 100%;
				line-height: 40px;
			}

			.box_input span:hover {
				box-shadow: var(--box-shadow-standar);
			}

/*Estilos de líneas de íconos*/
.line_icons {
	display: block;
	width: 100%;
}

	.line_icons span.icon_circle {
		text-align: center;
		display: inline-block;
		height: 40px;
		line-height: 40px;
		width: 40px;
		background-color: var(--primary-white-color);
		border-radius: var(--border-full-radius);
		color: var(--primary-color);
		font-size: 20px;
		cursor: pointer;
		user-select: none;
		transition: var(--transition-standar);
		margin-right: 3px;
	}

		.line_icons	span.icon_circle:hover {
			box-shadow: var(--box-shadow-standar);
		}

/*Nuestros proyectos*/
.info_squares {
	margin: 80px 0px;
}

	.info_squares .square_info {
		display: block;
	}

	.info_squares .square_info .data {
		font-size: 50px;
		line-height: 60px;
	}

	.info_squares .square_info a.emphasis {
		display: inline-block;
		text-decoration: none;
		color: inherit;
		font-size: 20px;
		margin-top: 20px;
		border-radius: var(--border-medium-most-radius);
		padding: 5px 15px;
		transition: var(--transition-standar);
	}
		.info_squares .square_info a.emphasis:hover {
			color: var(--primary-white-color);
			background-color: var(--primary-color);
		}

/*Why Choose Us*/
.contenedor_anuncios{
	display: block;
	width: 100%;
}

	.contenedor_anuncios .partes_anuncios{
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
		.contenedor_anuncios .partes_anuncios .imagen_anuncios{
			display: flex;
			width: 50%;
			overflow: hidden;
			border-radius: var(--border-medium-most-radius);
			box-shadow: var(--box-shadow-standar);
		}

		.contenedor_anuncios .partes_anuncios .imagen_anuncios img{
			display: block;
			width: 100%;
			height: 100%;
			background-color: #EA0107;
		}

		.contenedor_anuncios .partes_anuncios .anuncios{
			margin-left: 40px;
		}

		.contenedor_anuncios .partes_anuncios .anuncios{
			display: block;
			width: 50%;
		}

		.contenedor_anuncios .partes_anuncios .anuncios .header-anuncios{
			display: block;
			text-align: left;
		}
		
		.contenedor_anuncios .partes_anuncios .anuncios .header-anuncios p{
			opacity: 0.6;
		}

	
		.anuncios_derecha {
			display: block;
		}

			.anuncio {
				display: block;
				height: 110px;
				box-shadow: var(--box-shadow-standar);
				border-radius: var(--border-big-radius);
				overflow: hidden;
			}

				.anuncio .anun_align {
					display: flex;
					width: 100%;
					height: 110px;
				}

				.anuncio .anun_align .icon_ads {
					display: flex;
					width: 80px;
					line-height: 100%;
					height: 110px;
				}

					.anuncio .anun_align .icon_ads i {
						display: block;
						width: 100%;
						height: 100%;
						line-height: 110px;
						font-size: 35px;
					}

				.anuncio .anun_align .info_ads {
					display: block;
					width: calc(100% - 80px);
					padding: 20px;
					text-align: left;
					overflow: hidden;
				}

					.anuncio .anun_align .info_ads h3 {
						display: block;
						font-size: 15px;
						line-height: 20px;
						margin: 0px;
					}

					.anuncio .anun_align .info_ads p {
						display: block;
						font-size: 13px;
					}






		






	

/*Footer*/
footer {
	display: block;
	padding: 80px;
	border-radius: var(--border-most-radius);
	color: var(--primary-white-color);
	background-color: var(--primary-color);
}

	.column_data a {
		/*Settings footer data*/
		text-decoration: none;
		color: inherit;
	}

		.column_data h3 {
			font-size: 18px;
		}

		.column_data p {
			font-size: 14px;
		}

/*Section & Copy*/
section.copy {
	background-color: var(--contraste-light-color);
	color: var(--dark-light-color);
	text-align: center;
	font-size: 14px;
}

	section.copy .align_flex {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
	}

	section.copy .align_flex p {
		font-size: 14px;
		line-height: 14px;
	}